.hero-page {
  height: 100vh;
  background-color: #F3F3F3;
  position: relative;
  display: flex;
  align-items: center;
  &__view {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    width: 50%;
  }
  &__title {
    font-weight: 800;
    font-size: 100px;
    color: #474747;
    margin-bottom: 150px;
  }
  &__title .gray {
    color: #DCDCDC;
  }
  &__title .blue {
    color: #4689AF;
    padding-left: 70px;
  }
  &__photo {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    padding: 5px 60px;
    font-size: 32px;
  }

  &__btn:hover {
    background: #E0196C;
    color: #F3F3F3;
    transition: 0.5s;
  }

  &__arrow {
    text-align: center;
    position: absolute;
    left: 49%;
    bottom: 6%;
  }
}

